.overflow-table {
  height: 500px;
  overflow: auto;
  margin-bottom: 50px;
}

h2 {
  font-size: 20px;
}

.dc-chart g.row text {fill: black;}

.container { width: 640px; }

.col-md-8 {
  padding-left: 30px;
}
